language: node_js
node_js:
- stable
- '9'
- '8'
script:
- npm run build
- npm test
after_success:
- npm run coveralls
before_deploy:
- ls -lh data/cedict.json
- npm version --no-git-tag-version --force $(npx semver -i minor $(npm info mdbg version))
deploy:
  provider: npm
  email: mail@pepebecker.com
  api_key: ${NPM_TOKEN}
  skip_cleanup: true
  on:
    branch: master
    node: stable